/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");

body {
    background-color: #f2f2f2;
    font-family: "Poppins", sans-serif;
    color: rgb(28, 28, 28);
}

/* NAVBAR */
.custom-navbar {
    background-color: #5c64f2;
    transition: background-color 0.3s ease;
    padding-left: 4rem;
    padding-right: 4rem;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
    color: white;
    transition: color 0.3s ease;
}

.custom-navbar.scrolled {
    background-color: #f2a007;
}

.custom-navbar.scrolled .navbar-nav .nav-link:hover {
    color: #5c64f2; /* Cambia il colore del testo al viola */
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.show {
    color: #f2a007;
}

.navbar-toggler {
    background-color: white;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #5c64f2;
    background-color: transparent;
}

.nav-link,
span {
    font-weight: 300;
}
