.badge-img img {
    max-height: 120px;
    max-width: 120px;
}

.dash-col {
    background-color: #dbe7dd;
}

.dash-col1 {
    background-color: #c7cfdc;
}

.dash-img-profile img {
    border-radius: 50%;
    overflow: hidden;
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.dash-img-profile p {
    margin: 0;
}

.dash-img-profile p:first-of-type {
    font-size: 1.2rem;
    font-weight: 400;
}
.dash-img-profile p:nth-of-type(2) {
    font-size: 0.7rem;
    color: rgb(91, 90, 90);
    font-weight: 300;
}

.dash-img-profile p:nth-of-type(3) {
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 0.5rem;
    color: #464aa6;
}
