/* FORM */
/* label */
.form-group {
    margin-bottom: 0.7rem;
}

.form-group label {
    margin-bottom: 0.4rem;
}

.form-group label,
.form-group input {
    font-size: 1rem;
    color: #46443f;
}

.btn-form {
    border: none;
    font-size: 0.9rem;
    background-color: #f2cbbd;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: #2e2d2a;
}

.btn-form:hover {
    background-color: #8abfbf;
}

.text-font {
    font-size: 0.8rem;
}

.text-font::placeholder {
    font-size: 0.8rem;
    color: grey;
}

/* TABLE */
.table-custom tbody tr td,
.table-custom thead th {
    background-color: transparent;
}
.table-custom thead th {
    color: grey;
    font-weight: 300;
    font-size: 0.8rem;
}

.table-custom thead th a {
    background-color: transparent;
    color: grey;
    font-weight: 300;
    font-size: 0.8rem;
}

.tab-img img {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

tbody tr td {
    font-size: 0.8rem;
}

.upd:hover {
    color: #8abfbf;
    font-weight: 400;
}

.del {
    color: #f29f80;
}

.del:hover {
    color: #f2cbbd;
    font-weight: 400;
}

.table-custom .tab-img {
    vertical-align: middle;
}

.table-custom td {
    vertical-align: middle;
}

.table-custom .align-middle p {
    margin-bottom: 0;
}

.btn-add,
.btn-add-1 {
    border: none;
    padding: 5px 10px;
    color: #2e2d2a;
    font-size: 0.8rem;
    text-decoration: none;
}

.btn-add-1 {
    background-color: #f29f80;
}

.btn-add-1:hover {
    background-color: #f2cbbd;
}

.btn-add {
    background-color: #c7dcdf;
}

.btn-add:hover {
    background-color: #8abfbf;
}

.adm-book-search form {
    display: flex;
    align-items: center;
}

.book-h {
    margin: 0;
    line-height: 2;
}

.adm-book-search form {
    display: flex;
    align-items: center;
}
.adm-input-container {
    position: relative;
    display: flex;
    align-items: center;
}
.adm-search-input {
    padding: 5px 10px;
    padding-left: 30px; /* spazio per l'icona */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.8rem;
}
.adm-search-icon {
    position: absolute;
    left: 10px;
    color: #ccc;
    margin-right: 0.5rem;
}

/* FORM */
.form-control-file {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.preview-container {
    margin-top: 10px;
    position: relative;
}

.preview-container img {
    width: 200px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.remove-btn {
    background-color: #7e77a6;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: none;
    cursor: pointer;
    font-size: 0.8rem;
}

.remove-btn:hover {
    background-color: #d9b4cf;
}

p.text-danger {
    font-size: 0.8rem;
    margin: 0.5rem;
}

p.text-danger::before {
    content: "* ";
    color: red;
}
