/* label */
.form-group {
    margin-bottom: 0.7rem;
}

.form-group label {
    margin-bottom: 0.4rem;
}

.form-group label,
.form-group input {
    font-size: 1rem;
    color: #46443f;
}

.btn-form {
    border: none;
    font-size: 0.9rem;
    background-color: #f2cbbd;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: #2e2d2a;
}

.btn-form:hover {
    background-color: #8abfbf;
}
