.title-section {
    background-color: #f5e8df;
}

.subtitle {
    font-size: 1.1rem;
}

.bi-dot {
    font-size: 1.3rem;
    line-height: inherit;
    vertical-align: middle;
    color: #64a199;
}

/* h1 | span */
.rectangle {
    display: inline-block;
    padding: 5px 10px;
    background-color: #64a199;
    margin-bottom: 0.5rem;
}

/* card */
.card-link {
    text-decoration: none;
}

.card {
    background-color: transparent;
    border: none;
}

.card img {
    object-fit: cover;
    border-radius: 0;
}

.img-card {
    height: 200px;
}

.card-body {
    padding: 0;
    text-align: center;
}

.card-title {
    font-size: 0.9rem;
    padding: 0.5rem;
}

.card-text {
    font-size: 0.8rem;
}

.card-text:last-child,
.card-footer {
    font-size: 0.7rem;
}

.card-footer {
    background-color: transparent;
    text-align: center;
    border: none;
    padding: 5px;
}

.category {
    display: inline-block;
    padding: 2px 3px;
    margin-right: 3px;
    border-radius: 3px;
}
