.subtitle {
    font-size: 1.1rem;
}

.bi-dot {
    font-size: 1.3rem;
    line-height: inherit;
    vertical-align: middle;
    color: #64a199;
}

/* h1 | span */
.rectangle {
    display: inline-block;
    padding: 5px 10px;
    background-color: #64a199;
    margin-bottom: 0.5rem;
}

/* card */
.card-link {
    text-decoration: none;
}

.card {
    background-color: transparent;
    border: none;
}

.card img {
    object-fit: cover;
    border-radius: 0;
}

.img-card {
    height: 200px;
}

.card-body {
    padding: 0;
    text-align: center;
}

.card-title {
    font-size: 0.9rem;
    padding: 0.5rem;
}

.card-text {
    font-size: 0.8rem;
}

.card-text:last-child,
.card-footer {
    font-size: 0.7rem;
}

.card-footer {
    background-color: transparent;
    text-align: center;
    border: none;
    padding: 5px;
}

.category {
    display: inline-block;
    padding: 2px 3px;
    margin-right: 3px;
    border-radius: 3px;
}

/* FOOTER */
.footer {
    background-color: #5c64f2;
    color: white;
    font-size: 0.9rem;
    padding: 1.5rem 0 1rem 0;
}
.footer a {
    color: white;
    text-decoration: none;
}

.footer .icon {
    font-size: 1.1rem;
}

.footer .icon:hover,
.footer-copy a:hover {
    color: #f29f80;
}

.footer-title h5 {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.foot-ul li a {
    font-size: 0.7rem;
    font-weight: 300;
    margin: 0;
    text-decoration: none;
}

.foot-ul li a:hover {
    color: #f29f80;
    text-decoration: none;
}

.footer-copy {
    font-size: 0.7rem;
    font-weight: 300;
}
