.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2e4d8;
}

.login-form {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.log-in::placeholder {
    font-weight: 300;
    font-size: 0.8rem;
    color: grey;
}

.login-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    border: none;
}

.login-divider::before,
.login-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #dee2e6;
}

.login-divider::before {
    margin-right: 0.25em;
}

.login-divider::after {
    margin-left: 0.25em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #495057 !important;
    color: #495057 !important;
}

.login-title div label {
    font-size: 0.8rem;
}

.login-title div input {
    font-size: 0.9rem;
}

.login-img img {
    max-width: 150px;
}

.login-btn {
    background-color: #f29f80;
    border: none;
    border-radius: none;
    padding: 5px 0;
    font-weight: 300;
}

.login-btn:hover {
    background-color: #f0dec6;
}

.google-img {
    height: 35px;
    width: 35px;
}

.login-reg {
    color: #f17c52;
}
