.max {
    max-width: 230px;
}

.img-box,
.img-show {
    height: 330px;
    width: 220px;
}

.outline {
    outline: 1px solid lightgray;
}

.show-card {
    text-align: left;
    margin-right: 1rem;
}

.show-card p:first-of-type {
    font-size: 1rem;
    line-height: 1;
    border-bottom: 1px solid #5c64f2;
}

.show-card p:nth-of-type(2) {
    font-size: 0.8rem;
    text-align: justify;
    margin-bottom: 1rem;
}

/* PULSANTE PREFERITI */
.favorite-btn {
    width: 220px;
    background-color: #f2cbbd;
    display: flex;
    align-items: center;
    padding: 5px 15px 4px 20px;
    cursor: pointer;
    border: none;
    color: #232326;
}

.favorite-btn:hover {
    background-color: #f2c572;
}

/* STATO DI LETTURA */
.custom-btn {
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 0;
    color: #656573;
    border: 1px solid #9e9ead;
    margin: 0 5px;
}

/* .btn-custom:not(:focus):not(:active) {
    background-color: #64a199; 
    border-color: #64a199;
    color: white;
} */

.btn-custom,
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: #f2c572;
    color: #3e3e43;
    border: none;
}

.custom-btn:hover {
    background-color: #f0dec6; /* Colore verde quando si passa sopra col mouse */
    border: none;
    color: #656573;
}

/* STELLE RECENSIONI */
.star-ratings {
    display: inline-block;
    font-size: 0.9rem; /* Dimensione delle stelle */
    line-height: 1;
}

.star-ratings i {
    font-size: 0.9rem; /* Dimensione ereditata dalle stelle */
    color: #ffc107; /* Colore delle stelle piene e a metà */
}

.star-ratings .full-star::before {
    content: "\f005"; /* Codice Unicode per la stella piena */
    color: #ffc107; /* Colore delle stelle piene */
}

.star-ratings .half-star::before {
    content: "\f123"; /* Codice Unicode per la stella mezza */
    color: #ffc107; /* Colore della stella metà */
}

/* RECENSIONI */
.rev-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    outline: 1px solid lightgrey;
}

.rev-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* form */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating input[type="radio"] {
    display: none;
}

.rating label.textlab {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
}

.rating input[type="radio"]:checked ~ label {
    color: gold;
}

.rating label:hover,
.rating label:hover ~ label {
    color: gold;
}

/* .rating label.selected, */
.rating label:hover
/*, .rating label:hover ~ label */ {
    color: gold;
}

.rev-text {
    padding: 1rem;
    font-size: 0.9rem;
}

.rev-text::placeholder {
    font-size: 0.8rem;
    color: rgb(180, 178, 178);
}

.rev-btn {
    border: none;
    padding: 0.5rem;
    color: white;
    font-size: 0.9rem;
    background-color: #5c64f2;
}
.rev-btn:hover {
    background-color: #f2c572;
    color: #3e3e43;
}

.divider {
    border-left: 1px solid #8f8e8e;
    height: 1.2em;
    margin: 0 8px;
}

.hover a:hover {
    color: #5c64f2;
}
