/* FAVORITI */
.btn-fav {
    background-color: #f2e4d8;
    /* outline: 1px solid lightgrey; */
    border: none;
    padding: 0 0.5rem;
}

.btn-fav:hover {
    background-color: #c7dcdf;
}

.btn-fav div span {
    font-size: 0.7rem;
}

.fav-title {
    line-height: 1;
}

.fav-subtitle {
    font-size: 0.8rem;
    font-weight: 300;
    color: #6d6c6c;
}

/* STATO DI LETTURA */

.lib-title {
    letter-spacing: -2px;
}

.lib-drop {
    border-radius: 0;
    font-size: 0.9rem;
    padding: 0.5rem 0;
}

.lib-img {
    height: 150px;
    width: 150px;
}

.lib-card {
    text-decoration: none;
}

.btn-delete {
    border: none;
    background-color: #b695bf;
}

.btn-delete:hover {
    background-color: #7e77a6;
    color: white;
}

/* REVIEWS */
.btn-rev,
.btn-rev-del {
    font-size: 0.8rem;
}

.btn-rev {
    background-color: #f2e4d8;
    padding: 2px 10px;
}

.btn-rev-del:hover {
    background-color: #f2b6c6;
}

.btn-rev-del {
    background-color: #f2cbbd;
}

.btn-rev-del {
    padding: 3px 10px;
    border: none;
}
.btn-rev:hover,
.span-back {
    background-color: #c2e6df97;
}

.span-back {
    padding: 2px 20px;
    color: #3e3d3d;
}
